<footer class="bg-blue-800 p-2">
    <div class="flex flex-1 items-center justify-center sm:items-stretch place-content-center">
        <div class="flex shrink-0 items-center align-middle px-3 py-2 text-sm font-medium text-gray-300">
            © Tous droits réservés - Ludovic CARRIL - 2025
        </div>
    </div>
</footer>
</body>
</html>