<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port de plaisance de Russell</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/18ebb0e574.js" crossorigin="anonymous"></script>
</head>