<%- include('layout'); -%>
<body class="min-h-screen flex flex-col overflow-x-hidden">
    <%- include('header'); -%>
    <main class="flex flex-grow items-center justify-center w-full">
        <div id="dashboard" class="bg-gray-900 bg-opacity-70 text-white rounded-lg w-11/12 md:w-10/12 lg:w-11/12 shadow-lg flex flex-row" style="height: calc(90vh - 90px);"> <!-- Réduit l'espace en haut et en bas (90px pour header et footer) -->

            <!-- Sidebar (menu latéral) -->
            <%- include('components/nav'); -%>

            <!-- Main content area -->
            <div class="flex-1 p-8 text-center">
                <h1 class="text-2xl font-bold">Tableau de bord</h1>
            </div>

        </div>
    </main>
    <%- include('footer'); -%>
</body>