<%- include('layout'); -%>
<body class="min-h-screen flex flex-col">
    <%- include('header'); -%>
    <div class="flex flex-grow items-center justify-center">
        <div class="bg-gray-900 bg-opacity-70 text-white p-8 rounded-lg max-w-5xl w-full text-center shadow-lg">
            <h1 class="text-4xl font-bold mb-4">Port de Plaisance de Russell</h1>
            
            <p class="text-xl font-semibold mb-4">Bienvenue sur l'application de gestion des réservations de catways du port de plaisance de Russell</p>
        
            <p class="text-gray-300 text-lg mb-6">
                Cette plateforme vous permet de gérer facilement les réservations des catways, ces appontements réservés pour amarrer vos bateaux. 
                Grâce à une interface simple et intuitive, la capitainerie peut suivre en temps réel l'occupation des catways, les dates de réservation et 
                les informations associées aux réservations. L'application offre également une gestion sécurisée des utilisateurs et une API privée pour un 
                contrôle optimal des informations.
            </p>
        </div>
    </div>
    <%- include('footer'); -%>
</body>