@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
    color:white;
    font-size:2rem;
    margin:0.1em;
    opacity:50%;
  }
.logo:hover{
    opacity:100%;
    transition: all 0.3s ease-out;
}

body 
{
    background-image: url("../img/background.jpg");
    background-position: 50% 75%;
}
@media screen and (max-width: 765px) 
{
  #sidebar 
  {
      position: fixed;
      top: 0;
      left: -100%;  /* Cachée à gauche de l'écran par défaut */
      transition: left 0.3s ease;
      z-index: 50;  /* S'assurer que la sidebar est au-dessus du contenu */
  }
  /* Sidebar visible */
  #sidebar.show {
    left: 0;
  }
}