
html, body, #root {
  height:100%; 
  display:flex;
  flex-direction: column;
  margin:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../assets/background.jpg");
  background-position: 50% 50%;  
}

.Home{
  background-color: rgba(255, 255, 255, 85%);
  width:85%;
  height:75%;
  margin:auto auto;
  padding: 1em;
  text-align: center;
  align-items: center;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1{
  font-family: 'Roboto', sans-serif;
}
footer{
  width:100%;
  text-align: center;
  padding:2em 0;
  color:white;
}